html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.intro-screen-button {
  /* font-family: 'Roboto', sans-serif; */
  padding: 1rem 1.25rem;
  font-size: 1.5rem;
  letter-spacing: .25rem;
  box-shadow: 2px 2px 0px 1px #4a4c69;
  text-transform: uppercase;
  background-color: #8386b5;
  border: none;
  border-radius: .75rem;
  color: #FFF;
  transform: translate(-50%);
}

.intro-screen-select {
  background: #8386b5;
  box-shadow: 2px 2px 0px 1px #4a4c69;
  background-position: 205px center;
 
  height:48px;
  font-size:18px; 
  padding:13px 20px 13px 12px; 
  color:#fff; 
  border-radius: .75rem;
  outline: none;
  border: none;
  transform: translate(-50%);
}